
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/*header style*/
.banner-image-container{
  margin: 0 auto;
  width: 100%;
  border: 1px solid red;
}


.bg-light{
  background-color:rgb(255,144,14,0.1) ;
}
/*shared style*/
.display-flex{
  display: flex;
}
.text-primary{
  color: #FF900E;
}
/*Dark 02*/
.text-gray{
  color:#424242 ;
}
/*Dark 03*/
.text-light-gray{
  color: #727272;
}
.bnt-primary{
  background-color: #FF900E;
  color: #FFFFFF;
 font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main>section{
  margin-top: 130px;
}
/*navbar style*/
.navbar{
 justify-content: space-between; 
 align-items: center;
}
.brand{
  font-weight:700 ;
  font-size: 2.8rem;
}
.nav-item{
  list-style: none;
  margin: 30px;
}
.nav-link{
 text-decoration: none;
 font-weight: 500;
 
}
.navbar, .banner{
  margin: 0 auto;
  max-width: 1440px;
}

/*banner*/
.banner-image{
  width: 100%;
  margin: 0 auto;}

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

/*team*/
 /*.features-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 130px;
*/
.teams{
  align-items: center;
}
.team-image-container{
display: grid;
grid-template-columns: repeat(1,2fr);
gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
.features-title{
  font-size: 2.8rem;
  font-weight: 700;
}
.quick-list{
font-weight: 500;
}
/*responsive*/
@media screen and (max-width:576px) {
  .navbar, .nav-link{
    flex-direction: column;
  }
}
  
